<% if (currentUser) { %>
<ul class="deck-list" id="index">
  <% if (decks.length > 0) { %>
    <div class="jumotron">
      <h1 style="color: aliceblue">
        Difficult cards will be scheduled more often. Devour will not waste your time over-reviewing.
        Get to work and beat my score.
    </h1>
  </div>
    <% decks.each(function(deck) { %>
    <div class="decks list-group">
      <li class="deck-list-item list-group-item col-lg-4 col-md-12">
        <div class="deck-list-item">
          <button class="btn btn-danger btn-small delete-deck" data-deck-id="<%=deck.id%>"><span class="glyphicon glyphicon-remove"></span></button>
          <a href="#decks/<%=deck.id%>">
            <h2 class="page-header" id="deck-title"><%= deck.escape('title') %></h2>
            <div>Total Cards: <span class="badge"><%= deck.escape('cards_length') %></span></div>
          </a>
          <a href="#decks/<%=deck.id%>/data">Detailed data for <%= deck.escape('title') %></a>
          <div class=""><%= deck.escape('description') %></div>
          <a href="#/decks/<%=deck.id%>" class="btn btn-default btn-block" style="color: black;">Devour <%= deck.escape('title') %>!</a>
        </div>
        <div class="btn-group btn-group-lg">
          <a class="btn btn-blue btn-block" style="color: white;" id="deck-options" href="#decks/<%=deck.id%>/data"><span>See Your Schedule!</span></a>
        </div><br>
      </li>
    </div>
    <% }); %>
  <% } else { %>
    <div class="deck-list deck-list-empty" id="deck-list-empty">
      <h1 style="color: aliceblue">Devour Information. Set Yourself Free.</h1>
      <img src="http://res.cloudinary.com/tpayne/image/upload/s--OY77ymbs--/q_jpegmini/v1437893128/Screen_Shot_2015-07-25_at_11.43.55_PM_tlhhrb.jpg" height="340" width="760" alt="Demo"><br>
      <button class="btn deck-list" id="guide"><a href="#/publicIndex">Go To Public Decks</a></button>
      <div class="jumbotron">
        <h2>- Quiz yourself on flashcards. Submit responses based off your recall</h2>
        <h2>- Use Public Decks or Add Your Own. Learn At Your Own Pace.</h2><br>
        <h3>
          Devour is a program which makes remembering things easy.
           Because it's a lot more efficient than traditional study methods, you can either greatly decrease your time spent studying, or greatly increase the amount you learn.
        </h3>
      </div>
      
    </div>
  <% } %>
</ul>
<% } %>
