<ul class="deck-list" id="index">
  <div class="jumbotron">
    <p>Devour uses the SuperMemo-2 algorithm to schedule the best time for a card to come up for review. Difficult cards that you tend to forget quickly will be scheduled more often, while the app will not waste your time with over-review of easier items.</p>
    </div>
  <% decks.each(function(deck) { %>
  <li class="deck-list-item-background list-inline clearfix">
    <div class="deck-list-item">
      <button class="btn btn-danger btn-small delete-deck" data-deck-id="<%=deck.id%>"><span class="glyphicon glyphicon-remove"></span></button>
      <a href="#decks/<%=deck.id%>">
        <h2 class="page-header" id="deck-title"><%= deck.escape('title') %></h2>
        <span>Total Cards: <%= deck.escape('cards_length') %></span>
      </a>
      <!-- <div class="panel panel-body"><%= deck.escape('description') %></div> -->
      <a href="#/decks/<%=deck.id%>" class="btn btn-primary btn-block">Devour <%= deck.escape('title') %>!</a>
    </div>
  </li>
  <% }); %>
</ul>
