<ul class="deck-list">
  <div class="jumbotron">
    <h1>Time to eat!</h1>
    <p>What are you looking to study today? Go ahead and "Devour" a deck you are currently studying, or hop over to the Public Decks section to see decks you may want to add!</p>
  </div>


  <label for="index" class="">Your Collection</label>

  <form class="form-inline" id="index">
    <% decks.each(function(deck) { %>
      <div class="panel panel-default">
        <button class="btn btn-danger btn-small delete-deck" data-deck-id="<%=deck.id%>"><span class="glyphicon glyphicon-remove"></span></button>
        <a href="#decks/<%=deck.id%>">
          <h2 class="panel-heading">
            <%= deck.escape('title') %>
          </h2>
        </a>
        <div class="panel panel-body"><%= deck.escape('description') %></div>
        <button type="submit" data-deck-id="<%=deck.id%>" class="btn btn-primary btn-block">Devour <%= deck.escape('title') %>!</button>
      </div>
  <% }); %>
  </form>
</ul>
