<ul class="deck-list study-dropdown">
  <% decks.each(function(deck) { %>

    <form class="form-inline">
      <a href="#decks/<%=deck.id%>">
        <h2 class="page-header">
          <%= deck.escape('title') %>
        </h2>
      </a>
      <button type="submit" data-deck-id="<%=deck.id%>" class="btn btn-success btn-lg">Devour <%= deck.escape('title') %>!</button>
      <button class="btn btn-danger btn-lg delete-deck">Delete <%= deck.escape('title') %></button>
    </form>

  <% }); %>
</ul>
