<div class="answer container-fluid">

  <h1 class="answer card-answer card-show quiz-show col-md-7 col-md-offset-2 panel-body"><%= card.escape('answer') %></h1>
  <div class="answer-buttons btn-toolbar btn-group btn-group-justified row">

    <div class="row">
      <div class="col-md-2">
        <button class="button btn-red btn-lg answer answer-button" type="submit" data-quality="0" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="0">0</button>
      </div>
      <div class="col-md-2">
        <button class="button btn-red btn-lg answer answer-button" type="submit" data-quality="1" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="1">1</button>
      </div>
      <div class="col-md-2">
        <button class="button btn-green btn-lg answer answer-button" type="submit" data-quality="2" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="2">2</button>
      </div>
      <div class="col-md-2">
        <button class="button btn-green btn-lg answer answer-button" type="submit" data-quality="3" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="3">3</button>
      </div>
      <div class="col-md-2">
        <button class="button btn-blue btn-lg answer answer-button" type="submit" data-quality="4" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="4">4</button>
      </div>
      <div class="col-md-2">
        <button class="button btn-blue btn-lg answer answer-button" type="submit" data-quality="5" data-card-id="<%= card.id %>" data-e-factor="<%= card.get('e_factor') %>" value="5">5</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <span>0: Nope.</span>
      </div>
      <div class="col-md-2">
        <span>1: Almost.</span>
      </div>
      <div class="col-md-2">
        <span>2: Tough, but got it.</span>
      </div>
      <div class="col-md-2">
        <span>3: Good.</span>
      </div>
      <div class="col-md-2">
        <span>4: Confident.</span>
      </div>
      <div class="col-md-2">
        <span>5: Easy.</span>
      </div>
    </div>

  </div>
</div>
