<!DOCTYPE html>
<html>
<head>
  <title>Devour</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<div>
  <% if current_user %>
    <div data-id="<%= current_user.id %>" id="current-user"></div>
  <% end %>
</div>
<body id='content' class="">

  <div id="navigator"></div>


  <div id="flash">

    <%= yield %>
  </div>
  <div id="main"></div>

</body>
</html>
